---
import { Icon } from "astro-icon";
let { href, link, icon } = Astro.props;
---

<a
  {href}
  class="underline underline-offset-8 inline-block hover:decoration-wavy px-3 py-2 border border-transparent rounded-lg hover:bg-white hover:text-black"
>
  <div class="flex items-center">
    <Icon name={icon} class="inline-block h-6 w-6 mr-2" />
    <slot />
    <Icon
      name="fluent:arrow-up-right-24-filled"
      class="inline-block h-[1em] w-[1em]"
    />
  </div>
</a>
