<div class="py-0 mx-auto w-full relative overflow-hidden text-xl max-w-[95ch]">
  <div id="index">
    <div class="flex flex-row items-center w-full relative min-h-screen">
      <div class="z-10">
        <h1 class="text-5xl font-black mb-5">
          Hello, My name is <strong
            class="text-transparent bg-gradient-to-r bg-clip-text from-indigo-500 via-purple-500 to-pink-500"
            >PHISITH LENGSAVATH</strong
          >
        </h1>
        <h2 class="">Full Stack - Web Developer - From Laos</h2>
      </div>
    </div>
  </div>
</div>
<style lang="scss"></style>
