---
import { Icon } from "astro-icon";

let { href, class: className, link } = Astro.props;
link = link ?? /^(http|mailto)/.test(href);
---

<!-- <a
  {href}
  class={`${className} underline underline-offset-4 inline-block hover:decoration-wavy`}
>
  <slot />
  {
    link && (
      <Icon name="fluent:arrow-up-right-24-filled" class="inline-block h-[1em] w-[1em]" />
    )
  }
</a> -->
<a
  {href}
  class={`${className} underline underline-offset-4 inline hover:decoration-wavy ${
    link &&
    `after:content-[url('https://api.iconify.design/fluent/arrow-up-right-24-filled.svg?color=white&width=18&height=18')]`
  }`}
>
  <slot />
</a>
