---
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot name="hero" />
    <slot />
    <style is:global>
      html {
        @apply bg-black;
        @apply text-white;
        @apply scroll-smooth;
      }
      article {
        @apply prose prose-lg prose-invert max-w-full;
      }
    </style>
  </body>
</html>
